<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Hero's details</h3>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <%= image_tag(@hero.avatar_url)%>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= @hero.first_name + " " + @hero.last_name%></h4>
            <%= @hero.description %>
            <hr />
            <b>Skills:</b>
            <% @hero.skills.each do |s| %>
              <%= s.name %>
              <%= content_tag :span, class: "badge #{s.element}"  do %>
                <%= "#{s.level}" %>/5
              <% end %>
            <% end %>
            <br />
            <small><i>*colour represents skill element</i></small>
            <br />
            <b>Experience:</b>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" 
                    role="progressbar" aria-valuenow="40" aria-valuemin="0" 
                    aria-valuemax="100" style=<%= "width:" "#{@hero.current_level_percentage}%"%>>
              <span class="black">level<%= @hero.level %></span>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <ul class="list-group">
          <li class="list-group-item">Number of fights: <%= @hero.number_of_fights %></li>
          <li class="list-group-item">Fights won: <%= @hero.wins.count %></li>
          <li class="list-group-item">Fights lost: <%= @hero.loses.count %></li>
          <li class="list-group-item">Win ratio: <%= @hero.win_ratio %>%</li>
        </ul>
      </div>
  </div>
</div>