<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Fight Club", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "New fight", new_fight_path %></li>
          <li><%= link_to "Hero creator", new_hero_path %></li>
          <li><%= link_to "Rankings", heroes_path %></li>
          <li><%= link_to "Fight rules", fights_rules_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>